.listContainer {
  display: flex;
  flex-direction: column;
  margin: 0 -40px;
  /* 카드의 패딩(40px) 밖으로 확장되도록 설정 */
  /* 상단 구분선 제거 */
}

@media (max-width: 1100px) {
  .listContainer {
    margin: 0 -24px;
  }
}

.listItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  /* 카드의 패딩값을 대체 */
  background-color: var(--bg-card);
  border: none;
  cursor: pointer;
  width: 100%;
  transition: all 0.1s ease;
  user-select: none;
  /* 하단 구분선 제거 */
}

@media (max-width: 1100px) {
  .listItem {
    padding: 20px 24px;
  }
}

.listItem:hover {
  background-color: rgba(0, 0, 0, 0.03);
  /* 약간 어둡게 처리 */
}

.listItem:active {
  transform: translateY(var(--shadow-depth-sm));
  /* 설정된 깊이만큼 완전히 눌림 */
  box-shadow: inset 0 var(--shadow-depth-sm) 0 var(--shadow-inset);
  /* 상단에 생기는 안쪽 입체감 */
}

.itemLabel {
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-sb);
  color: var(--text-main);
}

.itemIcon {
  color: var(--text-sub);
  font-size: var(--font-size-base);
}